In [1]:
import pandas as pd
import numpy as np
from datetime import date
import datetime as dt

In [2]:
## 경로 설정

path_bv = '../9.데이터/9.raw_data/0.통합_교통량/'
path_bs = '../9.데이터/9.raw_data/0.통합_평균속도/'
path_a = '../9.데이터/0.작업 데이터/0.전처리 데이터/'

In [3]:
## 데이터 리스트 생성

list_sang = ["0. 광안대교 상부1 (MP29)_통합.xlsx", "1. 광안대교 상부2 (제2주탑)_통합.xlsx", "2. 광안대교 상부3 (MP26)_통합.xlsx", "3. 광안대교 상부4 (MP24)_통합.xlsx"]
list_ha = ["4. 광안대교 하부1 (MP24)_통합.xlsx", "5. 광안대교 하부2 (MP26)_통합.xlsx", "6. 광안대교 하부3 (제2주탑)_통합.xlsx", "7. 광안대교 하부4 (MP29)_통합.xlsx", "8. 광안대교 하부5 (MP31)_통합.xlsx"]



######### 다음에 사용할때는 glob 함수를 사용해보자!
######### from glob import glob
######### glob('*.txt') 하면됨

In [4]:
### 교통량 데이터 통합

## 상행
num = 0
for i in list_sang:
    data = pd.read_excel(path_bv + i, sheet_name = 'Sheet1')
    if num == 0:
        total_data = data
    else:
        total_data = pd.concat([total_data, data]) 
    num = num + 1

total_data = total_data[["통계날짜", "통계시각", "레이더ID", "레이더 검지 방향", "상행1차로", "상행2차로", "상행3차로", "상행4차로", "상행교통량\n"]]
total_data.columns = ["통계날짜", "통계시각", "레이더ID", "레이더 검지 방향", "1차로 교통량", "2차로 교통량", "3차로 교통량", "4차로 교통량", "총 교통량"]
sang_v = total_data

## 하행
num = 0
for i in list_ha:
    data = pd.read_excel(path_bv + i, sheet_name = 'Sheet1')
    if num == 0:
        total_data = data
    else:
        total_data = pd.concat([total_data, data]) 
    num = num + 1
    
total_data = total_data[["통계날짜", "통계시각", "레이더ID", "레이더 검지 방향", "하행1차로", "하행2차로", "하행3차로", "하행4차로", "하행교통량\n"]]
total_data.columns = ["통계날짜", "통계시각", "레이더ID", "레이더 검지 방향", "1차로 교통량", "2차로 교통량", "3차로 교통량", "4차로 교통량", "총 교통량"]
ha_v = total_data

In [5]:
### 속도 데이터 통합

## 상행
num = 0
for i in list_sang:
    data = pd.read_excel(path_bs + i, sheet_name = 'Sheet1')
    if num == 0:
        total_data = data
    else:
        total_data = pd.concat([total_data, data]) 
    num = num + 1

total_data = total_data[["통계날짜", "통계시각", "레이더ID", "레이더 검지 방향", "상행1차로", "상행2차로", "상행3차로", "상행4차로", "상행평균속도\n"]]
total_data.columns = ["통계날짜", "통계시각", "레이더ID", "레이더 검지 방향", "1차로 속도", "2차로 속도", "3차로 속도", "4차로 속도", "평균속도"]
sang_s = total_data

## 하행
num = 0
for i in list_ha:
    data = pd.read_excel(path_bs + i, sheet_name = 'Sheet1')
    if num == 0:
        total_data = data
    else:
        total_data = pd.concat([total_data, data]) 
    num = num + 1
    
total_data = total_data[["통계날짜", "통계시각", "레이더ID", "레이더 검지 방향", "하행1차로", "하행2차로", "하행3차로", "하행4차로", "하행평균속도\n"]]
total_data.columns = ["통계날짜", "통계시각", "레이더ID", "레이더 검지 방향", "1차로 속도", "2차로 속도", "3차로 속도", "4차로 속도", "평균속도"]
ha_s = total_data

In [6]:
## 데이터 정렬 및 리인덱스

sang_v = sang_v.sort_values(by=["통계날짜","통계시각", "레이더ID"])
ha_v = ha_v.sort_values(by=["통계날짜","통계시각", "레이더ID"])
sang_s = sang_s.sort_values(by=["통계날짜","통계시각", "레이더ID"])
ha_s = ha_s.sort_values(by=["통계날짜","통계시각", "레이더ID"])

sang_v = sang_v.reset_index(drop=True)
ha_v = ha_v.reset_index(drop=True)
sang_s = sang_s.reset_index(drop=True)
ha_s = ha_s.reset_index(drop=True)

In [7]:
## 교통량, 속도 데이터 Merging

sang_data = pd.merge(sang_v, sang_s, on=["통계날짜", "통계시각", "레이더ID", "레이더 검지 방향"])
ha_data = pd.merge(ha_v, ha_s, on=["통계날짜", "통계시각", "레이더ID", "레이더 검지 방향"])

In [17]:
sang_data.loc[(sang_data["1차로 속도"] == 0)&(sang_data["1차로 교통량"] != 0)]

,통계날짜,통계시각,레이더ID,레이더 검지 방향,1차로 교통량,2차로 교통량,3차로 교통량,4차로 교통량,총 교통량,1차로 속도,2차로 속도,3차로 속도,4차로 속도,평균속도
28270,2018-02-09,10:40:00,RADR12,용호동,1,104,54,48,207,0,54,71,84,52.25
268349,2018-04-15,07:45:00,RADR16,용호동,2,0,0,0,2,0,0,0,0,0.00
268361,2018-04-15,07:55:00,RADR13,용호동,3,0,0,0,3,0,0,0,0,0.00
268363,2018-04-15,07:55:00,RADR17,용호동,1,0,0,0,1,0,0,0,0,0.00
268366,2018-04-15,08:00:00,RADR11,용호동,3,0,1,31,35,0,0,32,18,12.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1878341,2020-03-24,01:20:00,RADR13,용호동,1,0,21,7,29,0,0,72,77,37.25
1878422,2020-03-24,02:40:00,RADR17,용호동,4,0,20,3,27,0,0,64,54,29.50
1878439,2020-03-24,03:00:00,RADR11,용호동,1,7,6,1,15,0,76,83,59,54.50
1878457,2020-03-24,03:15:00,RADR17,용호동,1,0,24,11,36,0,0,66,66,33.00
1879699,2020-03-25,00:00:00,RADR11,용호동,1,0,18,37,56,0,0,69,81,37.50

In [229]:
## 상행데이터 확인

##### 교통량이 없는 차로는 무조건 속도는 0을 가진다
##### 반면 속도가 없는 차로에 교통량은 가질 수 있다 (max == 13, 평균 1, 2, 3 쪽에 분포)
##### SO, 상행 데이터는 그대로 보존하기로 결정

In [132]:
## 하행 데이터 확인

#####  하행 1차로 교통량은 모두 0으로 입력되있는것을 확인
#####  하행 1차로 속도는 21개 빼고 모두 0으로 입력
#####  그 21개 데이터 확인결과 모두 2차로에 0으로 입력 -> 1차로에 0으로 찍혀야할 데이터가 2차로에 찍힘
#####  SO. 해당 21개에 해당하는 2차로에 찍혀있던 속도데이터를 1차로로 이전시킴

move_ind = ha_data.loc[(ha_data["1차로 속도"] != 0)&(ha_data["1차로 교통량"] == 0)].index
ha_data.iloc[move_ind, 10] = ha_data.iloc[move_ind, 9]
ha_data.iloc[move_ind, 9] = 0


#####  총 교통량이 4개의 교통량의 합과 일치하지 않는 경우 1차선의 교통량이 누락되었다고 판단
#####  나머지 3개의 합과 총 교통량의 차를 1차로 교통량이라 판단 후 입력

fill_ind = ha_data.loc[ha_data["총 교통량"] != ha_data["1차로 교통량"] + ha_data["2차로 교통량"] + ha_data["3차로 교통량"] + ha_data["4차로 교통량"]].index
ha_data.iloc[fill_ind, 4] = ha_data.iloc[fill_ind, 8] - ha_data.iloc[fill_ind, 7] - ha_data.iloc[fill_ind, 6] - ha_data.iloc[fill_ind, 5]


#####  평균속도와 4개의 차선의 평균이 일치하지 않는경우 1차선의 속도가 누락되었다고 판단
#####  해당 누락된 1차선의 속도에 평균속도*4 에 나머지 차선 속도를 뺀 값을 입력

test_data = ha_data.iloc[fill_ind]
test_ind = test_data.loc[test_data["평균속도"]*4 != test_data["1차로 속도"] +test_data["2차로 속도"] +test_data["3차로 속도"] +test_data["4차로 속도"]].index
ha_data.iloc[test_ind, 9] = ha_data.iloc[test_ind, 13]*4 - ha_data.iloc[test_ind, 12]- ha_data.iloc[test_ind, 11]- ha_data.iloc[test_ind, 10]

In [243]:
## 데이터 저장

sang_data.to_csv(path_a + 'upline_data.csv', index=False, encoding='utf-8')
ha_data.to_csv(path_a + 'downline_data.csv', index=False, encoding='utf-8')

In [ ]:
###  데이터 분석결과 전처리 데이터 수정
####  데이터 분석결과 상행의 경우 교통량 데이터가 0대일 경우 속도 0이 평균속도에 미치는 영향이 크다 판단
####  그러므로, 상하행 둘다 교통량데이터가 0인 경우의 칼럼을 모두 삭제

In [4]:
path = '../9.데이터/0.작업 데이터/0.전처리 데이터/'

In [5]:
up_data = pd.read_csv(path + 'upline_data.csv', encoding='utf-8')
down_data = pd.read_csv(path + 'downline_data.csv', encoding='utf-8')

In [44]:
for i in range(1,5):
    print(up_data["{}차로 속도".format(i)].shape)
    print(up_data.loc[up_data["{}차로 교통량".format(i)] > 0, "{}차로 속도".format(i)].shape)
    print(up_data.loc[up_data["{}차로 교통량".format(i)] > 1, "{}차로 속도".format(i)].shape)
    print(up_data["{}차로 속도".format(i)].mean())
    print(up_data.loc[up_data["{}차로 교통량".format(i)] > 0, "{}차로 속도".format(i)].mean())
    print(up_data.loc[up_data["{}차로 교통량".format(i)] > 1, "{}차로 속도".format(i)].mean())

(1904669,)
(1896897,)
(1887403,)
70.84973924603173
71.1400260530751
71.10071987805466
(1904669,)
(1896875,)
(1892736,)
66.65347312315158
66.92734313014827
66.93430726736322
(1904669,)
(1853052,)
(1799368,)
78.28399002661355
80.464600561668
80.29136841379862
(1904669,)
(1728714,)
(1588109,)
76.13397183447623
83.8831732721549
83.43228581917236

In [50]:
new_up = up_data.loc[(up_data["1차로 교통량"] > 0)&(up_data["2차로 교통량"] > 0)&(up_data["3차로 교통량"] > 0)&(up_data["4차로 교통량"] > 0)]
new_up = new_up.reset_index(drop=True)
new_up.to_csv(path_a + 'upline_data_v1.csv', index=False, encoding='utf-8')

new_down = down_data.loc[(down_data["1차로 교통량"] > 0)&(down_data["2차로 교통량"] > 0)&(down_data["3차로 교통량"] > 0)&(down_data["4차로 교통량"] > 0)]
new_down = new_down.reset_index(drop=True)
new_down.to_csv(path_a + 'downline_data_v1.csv', index=False, encoding='utf-8')